Name : Nur Aufa Student ID : 1101220508

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.signal import butter, filtfilt

In [4]:
xz = pd.read_csv("1.csv")
xz.head()

     0  1502  2215  2153  1
0  1.0  1667  2072  2047  1
1  2.0  1611  1957  1906  1
2  3.0  1601  1939  1831  1
3  4.0  1643  1965  1879  1
4  5.0  1604  1959  1921  1

In [5]:
print(xz.columns)

Index(['0', '1502', '2215', '2153', '1'], dtype='object')

In [6]:
xz = pd.read_csv("1.csv", header=None)
print(xz.head())
print(xz.iloc[:5])

     0     1     2     3  4
0  0.0  1502  2215  2153  1
1  1.0  1667  2072  2047  1
2  2.0  1611  1957  1906  1
3  3.0  1601  1939  1831  1
4  4.0  1643  1965  1879  1
     0     1     2     3  4
0  0.0  1502  2215  2153  1
1  1.0  1667  2072  2047  1
2  2.0  1611  1957  1906  1
3  3.0  1601  1939  1831  1
4  4.0  1643  1965  1879  1

In [7]:
xz = pd.read_csv("1.csv", header=None)

xz.columns = ['Time', 'Ax', 'Ay', 'Az', 'Activity']

print(xz.head())

   Time    Ax    Ay    Az  Activity
0   0.0  1502  2215  2153         1
1   1.0  1667  2072  2047         1
2   2.0  1611  1957  1906         1
3   3.0  1601  1939  1831         1
4   4.0  1643  1965  1879         1

In [120]:
xz['Am'] = np.sqrt(xz['Ax']**2 + xz['Ay']**2 + xz['Az']**2)
xz['Ax_low'] = xz['Ax'] - 100  # Contoh nilai untuk Ax_low
xz['Ax_high'] = xz['Ax'] + 100  # Contoh nilai untuk Ax_high
xz['Ay_low'] = xz['Ay'] - 100  # Contoh nilai untuk Ay_low
xz['Ay_high'] = xz['Ay'] + 100  # Contoh nilai untuk Ay_high
xz['Az_low'] = xz['Az'] - 100  # Contoh nilai untuk Az_low
xz['Az_high'] = xz['Az'] + 100  # Contoh nilai untuk Az_high
xz['Am_low'] = xz['Am'] - 100  # Contoh nilai untuk Am_low
xz['Am_high'] = xz['Am'] + 100  # Contoh nilai untuk Am_high

In [122]:
filtered_data = {activity: xz[xz['Activity'] == activity] for activity in xz['Activity'].unique()}

In [124]:
for activity, xz_act in filtered_data.items():
    print(f"Activity: {activity}")
    print(xz_act[['Time', 'Ax', 'Ay', 'Az', 'Activity', 'Am', 'Ax_low', 'Ax_high', 'Ay_low', 'Ay_high', 
                  'Az_low', 'Az_high', 'Am_low', 'Am_high']].head())  #Menampilkan 5 baris pertama

Activity: 1
   Time    Ax    Ay    Az  Activity           Am  Ax_low  Ax_high  Ay_low  \
0   0.0  1502  2215  2153         1  3434.768988    1402     1602    2115
1   1.0  1667  2072  2047         1  3355.932359    1567     1767    1972
2   2.0  1611  1957  1906         1  3171.435952    1511     1711    1857
3   3.0  1601  1939  1831         1  3110.543843    1501     1701    1839
4   4.0  1643  1965  1879         1  3176.683018    1543     1743    1865

   Ay_high  Az_low  Az_high       Am_low      Am_high
0     2315    2053     2253  3334.768988  3534.768988
1     2172    1947     2147  3255.932359  3455.932359
2     2057    1806     2006  3071.435952  3271.435952
3     2039    1731     1931  3010.543843  3210.543843
4     2065    1779     1979  3076.683018  3276.683018
Activity: 2
          Time    Ax    Ay    Az  Activity           Am  Ax_low  Ax_high  \
33677  33677.0  1888  2374  2053         2  3662.680576    1788     1988
33678  33678.0  1905  2375  2049         2  3669.884331    1805     2005
33679  33679.0  1910  2381  2044         2  3673.580951    1810     2010
33680  33680.0  1921  2377  2048         2  3678.950122    1821     2021
33681  33681.0  1917  2386  2047         2  3682.131720    1817     2017

       Ay_low  Ay_high  Az_low  Az_high       Am_low      Am_high
33677    2274     2474    1953     2153  3562.680576  3762.680576
33678    2275     2475    1949     2149  3569.884331  3769.884331
33679    2281     2481    1944     2144  3573.580951  3773.580951
33680    2277     2477    1948     2148  3578.950122  3778.950122
33681    2286     2486    1947     2147  3582.131720  3782.131720
Activity: 3
          Time    Ax    Ay    Az  Activity           Am  Ax_low  Ax_high  \
34605  34605.0  1953  2359  2016         3  3666.516876    1853     2053
34606  34606.0  1944  2327  2015         3  3640.644174    1844     2044
34607  34607.0  1954  2344  2025         3  3662.386790    1854     2054
34608  34608.0  1941  2398  2093         3  3728.073765    1841     2041
34609  34609.0  1904  2468  2133         3  3777.026476    1804     2004

       Ay_low  Ay_high  Az_low  Az_high       Am_low      Am_high
34605    2259     2459    1916     2116  3566.516876  3766.516876
34606    2227     2427    1915     2115  3540.644174  3740.644174
34607    2244     2444    1925     2125  3562.386790  3762.386790
34608    2298     2498    1993     2193  3628.073765  3828.073765
34609    2368     2568    2033     2233  3677.026476  3877.026476
Activity: 4
          Time    Ax    Ay    Az  Activity           Am  Ax_low  Ax_high  \
38488  38488.0  1895  2390  2024         4  3660.560203    1795     1995
38489  38489.0  1889  2389  2022         4  3655.697745    1789     1989
38490  38490.0  1886  2383  2027         4  3653.000684    1786     1986
38491  38491.0  1888  2382  2028         4  3653.936507    1788     1988
38492  38492.0  1889  2385  2027         4  3655.854893    1789     1989

       Ay_low  Ay_high  Az_low  Az_high       Am_low      Am_high
38488    2290     2490    1924     2124  3560.560203  3760.560203
38489    2289     2489    1922     2122  3555.697745  3755.697745
38490    2283     2483    1927     2127  3553.000684  3753.000684
38491    2282     2482    1928     2128  3553.936507  3753.936507
38492    2285     2485    1927     2127  3555.854893  3755.854893
Activity: 5
          Time    Ax    Ay    Az  Activity           Am  Ax_low  Ax_high  \
69595  69595.0  1904  2390  2010         5  3657.515003    1804     2004
69596  69596.0  1908  2390  2009         5  3659.049740    1808     2008
69597  69597.0  1907  2390  2005         5  3656.333409    1807     2007
69598  69598.0  1899  2387  1999         5  3646.912530    1799     1999
69599  69599.0  1906  2387  2008         5  3655.498461    1806     2006

       Ay_low  Ay_high  Az_low  Az_high       Am_low      Am_high
69595    2290     2490    1910     2110  3557.515003  3757.515003
69596    2290     2490    1909     2109  3559.049740  3759.049740
69597    2290     2490    1905     2105  3556.333409  3756.333409
69598    2287     2487    1899     2099  3546.912530  3746.912530
69599    2287     2487    1908     2108  3555.498461  3755.498461
Activity: 6
          Time    Ax    Ay    Az  Activity           Am  Ax_low  Ax_high  \
75835  75835.0  1878  2378  1973         6  3615.867392    1778     1978
75836  75836.0  1871  2370  1973         6  3606.975187    1771     1971
75837  75837.0  1877  2373  1977         6  3614.247778    1777     1977
75838  75838.0  1870  2375  1972         6  3609.197833    1770     1970
75839  75839.0  1873  2371  1979         6  3611.953903    1773     1973

       Ay_low  Ay_high  Az_low  Az_high       Am_low      Am_high
75835    2278     2478    1873     2073  3515.867392  3715.867392
75836    2270     2470    1873     2073  3506.975187  3706.975187
75837    2273     2473    1877     2077  3514.247778  3714.247778
75838    2275     2475    1872     2072  3509.197833  3709.197833
75839    2271     2471    1879     2079  3511.953903  3711.953903
Activity: 7
          Time    Ax    Ay    Az  Activity           Am  Ax_low  Ax_high  \
78752  78752.0  1879  2356  2106         7  3676.494662    1779     1979
78753  78753.0  1893  2370  2123         7  3702.361139    1793     1993
78754  78754.0  1907  2373  2132         7  3716.611629    1807     2007
78755  78755.0  1890  2372  2102         7  3690.106774    1790     1990
78756  78756.0  1878  2358  2069         7  3656.201444    1778     1978

       Ay_low  Ay_high  Az_low  Az_high       Am_low      Am_high
78752    2256     2456    2006     2206  3576.494662  3776.494662
78753    2270     2470    2023     2223  3602.361139  3802.361139
78754    2273     2473    2032     2232  3616.611629  3816.611629
78755    2272     2472    2002     2202  3590.106774  3790.106774
78756    2258     2458    1969     2169  3556.201444  3756.201444
Activity: 0
            Time    Ax    Ay    Az  Activity           Am  Ax_low  Ax_high  \
162500  162500.0  1922  2387  2078         0  3702.693209    1822     2022

        Ay_low  Ay_high  Az_low  Az_high       Am_low      Am_high
162500    2287     2487    1978     2178  3602.693209  3802.693209

In [126]:
# Memisahkan data berdasarkan aktivitas
filtered_data = {activity: xz[xz['Activity'] == activity] for activity in xz['Activity'].unique()}

# Menyimpan daftar aktivitas
activities = list(xz['Activity'].unique())

# Alternatif untuk mencetak kunci dan aktivitas
filtered_data_keys = list(filtered_data.keys())
print(f"Filtered Data Keys: {filtered_data_keys}")
print(f"Activities: {activities}")

Filtered Data Keys: [1, 2, 3, 4, 5, 6, 7, 0]
Activities: [1, 2, 3, 4, 5, 6, 7, 0]

In [ ]:
# Menentukan jumlah baris dan kolom untuk subplots
fig, axes = plt.subplots(len(activities), 4, figsize=(16, 12))

# Iterasi untuk setiap aktivitas
for i, activity in enumerate(activities):
    # Periksa apakah aktivitas ada dalam filtered_data
    if activity in filtered_data:
        xz_act = filtered_data[activity]
        
        # Iterasi untuk setiap kolom yang diinginkan
        for j, axis in enumerate(['Ax', 'Ay', 'Az', 'Am']):
            if axis in df_act.columns:
                # Plot data untuk Raw, Low-pass, dan High-pass
                ax = axes[i, j]
                ax.plot(xz_act.index, xz_act[axis], label='Raw', alpha=0.6)
                ax.plot(xz_act.index, xz_act[f'{axis}_low'], label='Low-pass', linestyle='dashed')
                ax.plot(df_act.index, xz_act[f'{axis}_high'], label='High-pass', linestyle='dotted')
                ax.set_title(f'Activity {activity} - {axis}')
                ax.legend()
            else:
                print(f"Warning: Column {axis} not found in activity {activity}")
    else:
        print(f"Skipping Activity {activity} as it's not in filtered_data")

# Penataan layout agar tidak ada grafik yang tumpang tindih
plt.tight_layout()
plt.show()